
  .page-container  {
    height: 100%;
    min-height: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-container  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 700px;
    max-width: 400px;
    height: 700px;
    background-color: #121228;
  }
  
  .card-content  {
    color: #fff;
    padding: 10px 25px;
    padding-top: 0;
  }
  
  .card-author  {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.8px;
  }
  
  .card-text  {
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .card-img img  {
    max-width: 100%;
    height: auto;
  }
  
  .form-container  {
    padding: 10px;
    width: 100%;
    text-align: center;
    height: 80px;
  }
  
  .form-container input[type="text"]  {
    min-width: 50%;
    font-size: 16px;
    padding: 6px 14px;
    border-radius: 4px;
  }
  
  .form-container input[type="submit"]  {
    font-size: 16px;
    padding: 8px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
  }
  
  .form-container input[type="submit"]:hover  {
    background-color: #EA0055;
    color: #fff;
  }
  
  .form-text  {
    color: #fff;
    padding-bottom: 5px;
    font-size: 14px;
  }
  
  .credits  {
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #eee;
  }
  
  .credits a  {
    color: #eee;
    text-decoration: none;
  }
  
  .credits a:hover  {
    text-decoration: underline;
  }
  
  .citations  {
    color: #fff;
    font-size: 14px;
    visibility: hidden;
  }
  
  .citations-container  {
    width: 100%;
    text-align: center;
  }
  
  .fa-heart  {
    padding-right: 3px;
    padding-left: 3px;
  }
  
  .fa-heart:hover  {
    color: #8C0007;
  }
  
  .share-buttons  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: row;
  }
  
  .share-buttons button  {
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .share-buttons button .fa  {
    margin-right: 5px;
  }
  
  .whatsapp-share button  {
    background-color: #00CE44;
    margin-right: 5px;
    border-color: #fff;
  }
  
  .fb-share button  {
    background-color: #4360B4;
    margin-left: 5px;
    border-color: #fff;
  }
  